Content/UltraDynamicSky/**/*.uasset filter=lfs diff=lfs merge=lfs -text
Content/UltraDynamicSky/**/*.umap filter=lfs diff=lfs merge=lfs -text
Content/UltraDynamicSky/**/*.png filter=lfs diff=lfs merge=lfs -text
Content/UltraDynamicSky/**/*.jpg filter=lfs diff=lfs merge=lfs -text
Content/UltraDynamicSky/**/*.jpeg filter=lfs diff=lfs merge=lfs -text
Content/UltraDynamicSky/**/*.tga filter=lfs diff=lfs merge=lfs -text
Content/UltraDynamicSky/**/*.hdr filter=lfs diff=lfs merge=lfs -text
Content/UltraDynamicSky/**/*.exr filter=lfs diff=lfs merge=lfs -text
Content/UltraDynamicSky/**/*.wav filter=lfs diff=lfs merge=lfs -text
Content/UltraDynamicSky/**/*.mp3 filter=lfs diff=lfs merge=lfs -text
Content/UltraDynamicSky/**/*.dll filter=lfs diff=lfs merge=lfs -text
Content/UltraDynamicSky/**/*.so filter=lfs diff=lfs merge=lfs -text
Plugins/CesiumForUnreal/Source/ThirdParty/lib/**/*.lib filter=lfs diff=lfs merge=lfs -text
Plugins/CesiumForUnreal/Source/ThirdParty/lib/**/*.a filter=lfs diff=lfs merge=lfs -text
Plugins/CesiumForUnreal/Content/**/*.uasset filter=lfs diff=lfs merge=lfs -text
Plugins/CesiumForUnreal/Content/**/*.umap filter=lfs diff=lfs merge=lfs -text
