__pycache__/
*.pyc
*.pyo

# UE5 Generated
Binaries/
Build/
DerivedDataCache/
Intermediate/
Saved/
*.sln
*.suo
*.opensdf
*.sdf
*.VC.db
*.VC.opendb

# Plugin Binaries & Intermediate
Plugins/*/Binaries/
Plugins/*/Intermediate/

# Cesium native build cache
Plugins/CesiumForUnreal/extern/build/

# UDS large binaries handled by Git LFS (see .gitattributes)

# IDE
.vscode/
.vs/
.ignore
*.code-workspace

# OS
.DS_Store
Thumbs.db
Plugins/CesiumForUnreal/extern/
